$col-wi: #ffffff;
$col-bl: #333333;
$col-gr: #999999;
$col-gr_sh: #666666;
$col-or: #ff862f;
$col-ye: #ffbd59;
$col-ye_li: #fff5d1;
$col-gold: #d5b986;
$col-re: #bb370e;
$bac-gr: #f7f7f7;
$bac-gr_d: #eaeaea;
$bac-pink: #ebd1ff;
$bac-pur: #f8efff;
$bac-pur_li: #c998fb;
$bac-pur_d: #a65cf0;
$bac-pur_sh: #7033ac;
